.compareItem {
	width: 100%;
	margin: 1rem;
	border-radius: 1rem;
	text-align: center;
	border: 1px solid black;
}

.name {
	margin: 1rem;
	display: grid;
	grid-template-columns: 10fr 1fr;
	button {
		border: none;
		background-color: transparent;
		font-size: 2rem;

		:active {
			transform: scale(0.8);
		}
	}
}

.great {
	color: green;
}

.small {
	color: red;
}

.equal {
	color: yellow;
}
